include LICENSE.md
include readme.md
include requirements.txt
recursive-include mailtor/fixtures *
recursive-include mailtor/migrations *
recursive-include mailtor/templates *
recursive-include mailtor/docs *
